* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  // background: #f3f3f2;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

:focus {
  outline: none;
}